
body{
    background-color: #515e51;
    flex: content;
    display: grid;
    
}
.navbar{
    background-color: rgba(255, 255, 255, .20);  
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 30px;
    color: white;
}
.navbarcontents{
    flex: content;
    display: flex;
    justify-content: center;
}

._name{
   
    background-color: #393b3b;
    padding: 15px;
    border-radius: 15px;
    margin-left: 25px;
    margin-right: 5px;
    background-color: rgba(8, 8, 8, 0.50);
}
._about{
    background-color: #393b3b;
    padding: 15px;
    border-radius: 15px;
    /*margin-left: 350px;*/
    margin-right: 5px;
    background-color: rgba(8, 8, 8, 0.50);
}
._projects{
    background-color: #393b3b;
    padding: 15px;
    border-radius: 15px;
    /*margin-left: 20px;
    margin-right: 5px;*/
    background-color: rgba(8, 8, 8, 0.50);
}
._contact{
    background-color: #393b3b;
    padding: 15px;
    border-radius: 15px;
    /*margin-left: 20px;
    margin-right: 5px;*/
    background-color: rgba(8, 8, 8, 0.50);
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    background-color: rgba(255, 255, 255, .20);  
    backdrop-filter: blur(10px);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    
}
.image_container{
    flex: 1;
    justify-content: center;
    align-items: center;
   
    
}
.about_container{
    flex:1;
    width: 300px;
    padding-top: 50px;
    font-family: Verdana;
    text-align: center;
   
 
}
.me{
    width: 300px;
    border-radius: 50%;
    
    
}
.hello{
    font-size: 15px;
    color: rgb(255, 255, 255);
    
}
.name{
    font-weight: bold;
    font-size: 20px;
    color: aquamarine;
}
.stack{
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);

}
.cv{
    color: white ;
    font-weight: bold;
    background-color: #04BFAD;
    border: none;
    padding: 15px;
    border-radius: 15px;
    margin-right: 10px;
    
}
.cv:hover{
    opacity: 0.8;
}
.contact{
    color: white ;
    font-weight: bold;
    background-color: #bfb304;
    border: none;
    padding: 15px;
    border-radius: 15px;
    margin-right: 10px;
}
.contact:hover{
    opacity: 0.8;
}